@use "globals" as *;
@use "layout" as *;

footer {
    font-family: 'Montserrat', sans-serif;
    background-color: $primary-burdeos;
    color: $secundary-white;
    @include justify-between;
}

@include respond-to("small") {
    footer {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
    }
}