@use "globals" as *;
@use "layout" as *;

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $fonts-principal, sans-serif;
    background-color: $primary-burdeos;
    color: $secundary-white;
    @include justify-between;
}

@include respond-to("small") {
    footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: $size-fonts-paragraph-movil;
    }
}