@use "globals" as *;
@use "layout" as *;

header {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: $primary-burdeos;

    nav {
        @include justify-between;

        img {
            width: 15rem;

        }
    }

    nav div ul {



        li {
            @include listas;

            a {
                @include enlaces($secundary-white);

                &:hover {
                    color: $secundary-grey;
                }
            }


        }
    }
}

@include respond-to("small") {
    header {
        flex-direction: column;
        text-align: center;
        font-size: 16px;

        nav {
            img {
                width: 40px;
            }
        }
    }

    nav div ul {
        flex-direction: column;
        margin-top: 10px;



    }

}