@use "globals" as *;
@use "layout" as *;

header {
    font-family: $fonts-principal, sans-serif;
    font-size: $size-fonts-h2;
    background-color: $primary-burdeos;

    nav {
        @include justify-between;
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            width: 15rem;

        }
    }

    nav div ul {
        
        display: flex;
        flex-direction: row;
        align-items: center;

        li {
            @include listas;

            a {
                @include enlaces($secundary-white);

                &:hover {
                    color: $secundary-grey;
                }
            }


        }
    }
}

@include respond-to("small") {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: $size-fonts-paragraph;

        nav {
            display: flex;
            flex-direction: column;
            margin-top:  $margin-top-10;
            img {
                width: 8rem;
        }
    }

   header nav div ul {
        display: flex;
        flex-direction: column;
        margin-top: $margin-top-10;



    }

}
}