@use "globals" as *;


body {
    margin: $margin-0;
    padding: $padding-0;
    box-sizing: border-box;
    height: $height;
}

header {
    padding: 1rem 4rem;
}

@include respond-to("small") {
    header nav div ul li {
        margin-left: $margin-0;
        margin-top: 10px;
    }
}

.me-1 {
    margin-right: $margin-2rem;
}

.mt-1 {
    margin-top: $margin-1rem;
}

footer {
    padding: $margin-1rem $margin-4rem;
}


.container-main {
    margin-left: $margin-4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 20rem;
    align-items: center;

    .caja {
        display: inline-block;
        padding: $margin-2rem;

        h2 {
            margin: $margin-0;
            padding: $padding-0;
        }

        p {
            margin: $margin-0;
            padding: $padding-0;
        }
    }

}

@include respond-to("small") {
    .section1 {
        display: flex;
            text-align: center;
            justify-content: center;
            align-items: start;
        .container-main {
            
            margin: 0;
            transform: 0;

            .caja {
                align-items: center;
                width: 200px;


            }
        }



    }
}

.section2 {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .encabezado {

        display: flex;
        justify-content: center;
        padding: 1rem;

        p {
            margin: $margin-0;
            padding: $padding-0;
        }
    }

    .cajon2 {
        display: flex;
        justify-content: center;
        margin-top: $margin-5rem;
        margin-bottom: $margin-5rem;

        .caja1 {
            display: flex;
            align-items: center;
            padding: 4rem;
            margin-right: $margin-2rem;
        }

        .caja2 {
            padding: 4rem;
            margin-left: $margin-2rem;

        }
    }
}

input,
textarea {
    margin-top: $margin-1rem;
    padding: 0.5rem 1rem;
}

@include respond-to("small") {
    .section2 {

        .cajon2 {
            
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: $margin-2rem;


            .caja1 {
                display: flex;
                align-items: center;
                padding: 2rem;
                margin: $margin-2rem;
            }

            .caja2 {
                padding: 2rem;
                margin: $margin-2rem;

            }
        }
    }
}