.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

header {
    padding: 1rem 4rem;
}

.me-1 {
    margin-right: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

footer {
    padding: 1rem 4rem;
}


.container-main {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 20rem;
    .caja {
        display: inline-block;
        padding: 2rem;
       
        h2 {
            margin: 0;
            padding: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }
    }
   
}
.main2{
    padding-top:2rem ;
    padding-bottom:2rem;
    .encabezado{
        //  position: relative;
          //top: 5%;
         //margin-top:20px ;
          display: flex;
          justify-content: center;
          padding:1rem;
          p{
              margin: 0;
              padding: 0;
          }
      }
      .cajon2{
          display: flex;
          justify-content: center;
          display: row;
         margin-top:5rem;
         margin-bottom:5rem;
        
          .caja1{
              display: flex;
              align-items: center;
              padding: 4rem;
              margin-right: 2rem;
          }
          .caja2{
              padding: 4rem;
              margin-left: 2rem;
              
          }
      }
}

input, textarea{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}