/* Mode 1 */
/* number */
$size-fonts-paragraph: 1rem;
$size-fonts-h2: 1.25rem;
$size-fonts-title: 1.5rem;
$size-fonts-h1: 2.25rem;
/* string */
$fonts-desing-system: Inter;
$fonts-principal: Montserrat;
$fonts-subtítulo: Jockey One;
$size-fonts-paragraph-movil: 13;
$type-medium: Medium;
$type-regular: Regular;
/* Mode 1 */
/* number */
$border1: 0.75rem;
$border2: 1.875rem;
/* Mode 1 */
/* color */
$primary-burdeos: #7a2b2e;
$primary-hover: #561e20;
$primary-transp1: #7a2b2ebd;
$secundary-black: #000000;
$secundary-grey: #d7d7d7;
$secundary-transp2: #d5cfcf5e;
$secundary-white: #ffffff;
$support-error: #ff0000;
$support-info: #56a7ff;
$support-succes: #6ecf1f;
$support-warning: #f9e31e;
/* Mode 1 */
/* number */
$columns-1: 0.75rem;
$margin-1: 5rem;